// Specific CSS for your home-page
$background: #fcf9ea;
$foreground: #badfdb;


body {
  background-color: $background;
  margin: 5vw auto;
}
p {
  margin: 0
}

a {
  text-decoration: none;
  color: $main-color;
  &:hover {
    text-decoration: none;
    color: $main-color;
  }
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-bottom: 30px;
}

h2 {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin-bottom: 4px;
}


.container {
  background-color: $foreground;
  padding: 40px;
  width: 90vw;
  max-width: 600px;
  box-shadow: 5px 5px 20px rgb(234, 231, 215);
}

.strong {
  color: $strong-color;
}


.image-container {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 30px;
}

.title {
  background-color: $foreground;
  padding: 7px 30px;
  position: relative;
  margin-top: 165px;
  font-size: 1.5em !important;
  border-top: solid 3px $main-color;
  border-bottom: solid 3px $main-color;
}

.cocktail-image {
  position: absolute;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 4px $main-color;

}
.cocktail-list {
  border-top: solid 1px $main-color;
}
.cocktail-line {
  display: flex;
  align-items: center;
  border-bottom: solid 1px $main-color;
  padding: 10px 0;
}

.cocktail-info {
  margin-left: 20px;
}

.small {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 2px $main-color;
}

.add-link {
  margin-top: 20px;
}

